<#include "../include/header.html" />
<script src="${base.contextPath}/common/code?EmpGender=DEMOEMP.GENDER" type="text/javascript"></script>
<script>var _baseContext = '${base.contextPath}'</script>
<script src="${base.contextPath}/lib/websocket/sockjs.js"></script>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
</script>
<body>
<div id="dialog"></div>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" onclick="webSocketTest()"
              style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
        <span data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
        <span class="btn btn-primary" style="float:left;" onclick="invoke()">调用</span>
        <span class="btn btn-primary" style="float:left;" onclick="webSocketTest()">WebSocket</span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
               placeholder='<@spring.message "Emp.employeeCode"/>'
               data-bind="value:model.employeeCode" class="k-textbox">
        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:query" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="grid"></div>
        <input id='myAge'>
    </div>

</div>

<script type="text/javascript">
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    //webSocketTest();
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/demo/emp/query",
                type: "POST",
                dataType: "json",
            },
            update: {
                url: BaseUrl + "/demo/emp/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/demo/emp/remove",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
            },
            create: {
                url: BaseUrl + "/demo/emp/submit",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "employeeId",
                fields: {
                    joinDate: {type: "date"},
                    bornDate: {type: "date"},
                    enabledFlag: {defaultValue: 'Y', type: "boollen", checkedValue: 'Y', uncheckedValue: "N"},
                    gender: {type: "string", defaultValue: 'M'},
                    positionId: {type: "int", defaultValue: 10001},
                    name: {validation: {required: true}}
                }

            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        rownumber: true,
        selectable: 'multiple, rowbox',
        //change: onChange,
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            /*{
             field: "employeeId",
             title: '<@spring.message "emp.employeeid"/>',
             width: 120
             },*/
            {
                field: "employeeCode",
                title: '<@spring.message "emp.employeecode"/>',
                width: 120/*,
             editor: function (container, options) {
             $('<input required name="' + options.field + '"/>').change(function(){
             {            var number = document.getElementById('employeeCode').value;
             if(number>'B'){
             showError();
             }
             }
             }}),*/
            },
            {
                field: "name",
                title: '<@spring.message "emp.name"/>',
                width: 120/*,
             editor: function (container, options) {
             $('<input required name="' + options.field + '"/>')
             .appendTo(container)
             .kendoDatePicker();
             }*/
            },

            {
                field: "bornDate",
                title: '<@spring.message "emp.borndate"/>',
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "email",
                title: '<@spring.message "emp.email"/>',
                width: 120
            },
            {
                field: "mobil",
                title: '<@spring.message "emp.mobil"/>',
                width: 120
            },
            {
                field: "joinDate",
                title: '<@spring.message "emp.joindate"/>',
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "gender",
                title: '<@spring.message "emp.gender"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.gender;
                    $.each(EmpGender, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    })
                    return v;
                },
                editor: function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: EmpGender
                        });
                }
            },

            {
                field: "status",
                title: '<@spring.message "emp.status"/>',
                width: 120
            },
            {
                field: "positionId",
                title: '<@spring.message "emp.positionid"/>',
                width: 120,
                template: function (dataItem) {
                    return dataItem['name'] || ''
                },
                /*           editor: function (container, options) {
                 $('<input name="' + options.field + '"/>')
                 .appendTo(container)
                 .kendoLov($.extend(<@lov "DEMO_POSITION"/>, {
                 textField: 'name',
                 model: options.model
                 }));
                 }*/
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoLov({
                            code: "DEMO_POSITION",
                            contextPath: '${base.contextPath}',
                            locale: 'zh_CN'
                        });
                }

            },
            {
                field: "enabledFlag",
                title: '<@spring.message "emp.enabledflag"/>',
                width: 120
            },
        ],
        editable: true
    });
    /*   var  a = $("#name");
     alert(a);
     alert("hahaa");
     var validator = $("#name").kendoValidator({
     valid: function (e) {
     console.log('ssss')
     },
     invalidMessageType : "default"
     }).data("kendoValidator");*/
    $("#myAge").change(function () {
        var number = document.getElementById('myAge').value;
        if (number > 100) {
            showError();
        }
    });
    function showError() {
        kendo.ui.showErrorDialog({
            message: '年龄不应该超过100岁！!'
        }).done(function (e) {
            $("#myAge").val("");//设置为空
        })
    }
    ;

    //grid.editRow($("#grid"),false);
    window.newData = function () {
        var url = 'demo_emp_edit.html';
        var dialog = $("#dialog").kendoWindow({
            actions: ["Close"],
            width: 900,
            height: 400,
            title: '<@spring.message "hap.edit"/>',
            content: url,
            iframe: true,
            visible: false,
            modal: true,
            close: function () {
                $('#Grid').data('kendoGrid').dataSource.page(1);
            }
        }).data("kendoWindow");
        dialog.center().open();
    };

    /*    function invoke() {
     //  var message ="{"employeeId":10003}";
     $.ajax({
     /!*附带参数的请求URL*!/
     url: '${base.contextPath}/demo/emp/invoke?employeeId=' + 10003,
     type: "POST",
     dataType: "json",
     contentType: "application/json;charset=utf-8;",
     success: function (result) {
     var data = result.rows[0];
     /!*遍历表，获得值*!/
     for (var i in data) {
     viewModel.model.set(i, data[i]);
     }
     console.log('解析返回结果：');
     console.log(viewModel.model);
     }
     });

     }*/
    function webSocketTest() {
        _baseContext = '${base.contextPath}';
        console.log("_baseContext2=>" + _baseContext);
        Hap.initWebSocket();
        console.log("hahaa");
        Hap.onMessage("EmpTest", function (data, socket) {
            console.log(data.parameters["MSG"]);
            console.log(data);
            /*            socket.close();
             $.ajax({
             /!*附带参数的请求URL*!/
             url: '${base.contextPath}/demo/emp/invoke1',
             type: "POST",
             dataType: "json",
             contentType: "application/json;charset=utf-8;"
             });*/
            if (data.parameters["MSG"]) {
                Hap.showToast({
                    type: "info",
                    message: data.parameters["MSG"]
                });
                kendo.ui.showInfoDialog({
                    message: data.parameters["MSG"]
                });
            }
        })

    }
    function invoke() {
        //  var message ="{"employeeId":10003}";
        var bMainGrid = $("#grid").data('kendoGrid');
        var checked = bMainGrid.selectedDataItems();
        $.ajax({
            /*附带参数的请求URL*/
            url: '${base.contextPath}/demo/emp/invoke1',
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8;",
            data: JSON.stringify(checked),
            success: function (result) {
                $.each(result.rows, function (key, value) {
                    console.log('第' + key + '行解析返回结果：');
                    var data = result.rows[key];
                    for (var i in data) {
                        console.log(i + '-' + data[i]);
                    }
                })
            }
        });

    }
</script>
</body>
