<#include "../include/header.html"/>
<body>
<script src="${base.contextPath}/lib/websocket/sockjs.js"></script>
<script>var _baseContext = '${base.contextPath}'</script>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
</script>
<style type="text/css">
    .left {
        margin-right: 10px;
        margin-top: 14px;
        width: 20%;
        float: left;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 6px;
        background-color: #FFFFFF;
        border: 1px solid;
    }

    #treeViewMd {
        height: 100%;
    }

    .right {
        float: right;
        width: 80%;
        border: 1px solid;
    }

    .control-label {
        font-size: 13px !important;
    }

    .colorB {
        color: rgb(51, 51, 51);
    }
</style>
<div class="panel-body">
    <div class="row">
        <div class="left" style="height: 100%">
            <div class="row">
                <div class="form-group">
                    <label class="col-md-5 control-label"
                           style="margin-top: 5%;margin-right: -6%;margin-left: 3%;">分发数据</label>
                    <div class="col-md-7" style="margin-left: -13%;margin-top: 3%;">
                        <input id="distributeData" type="text" data-role="maskedtextbox"
                               style="float:left;width: 120%;margin-right:5px;"
                               class="k-textbox" onblur="validateDistributeData()"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="treeViewMd" style="margin-left: 6%;margin-top: 1%;"></div>
            </div>
        </div>

        <div class="right">
            <div id="page-content-query" style="padding-left: 0px;padding-top: 0px;">
                <div class="panel-footer text-left">
                    <label style="float:left;line-height: 30px;margin-left: -3px;font-size: 20px"><b><@spring.message
                        "查询情况"/></b></label>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div id="page-content-query-detail" style="padding-left: 0px;padding-top: 0px;">
                <div id="page-content_grid">
                    <div class="pull-left" id="queryPanel" style="padding-bottom:10px;">
                        <div class="rows" id="query-form" style="margin-right: 25px; margin-left: 10px;margin-top:5px">
                            <input type="text" style="width: 150px" placeholder='<@spring.message "数据编码"/>'
                                   data-bind="value:model.itemCode" id="itemCode">
                            <script>
                                $("#itemCode").kendoLov({
                                    code: "HMDM_ITEM_CODE",
                                    contextPath: '${base.contextPath}',
                                    locale: 'zh_CN',
                                    textField: 'itemCode',
                                    model: viewModel.model
                                });
                            </script>
                            <input id="batchNum" data-role="maskedtextbox" type="text"
                                   placeholder='<@spring.message "分发批次号"/>'
                                   style="width: 150px" data-bind="value:model.batchNum">
                            <script>
                                $("#batchNum").kendoLov({
                                    code: "HMDM_BATCH_NUM",
                                    contextPath: '${base.contextPath}',
                                    locale: 'zh_CN',
                                    textField: 'batchNum',
                                    model: viewModel.model
                                });
                            </script>
                            <input id="status" data-role="maskedtextbox" type="text"
                                   placeholder='<@spring.message "数据状态"/>'
                                   style="width: 150px" data-bind="value:model.status">
                            <script>
                                $("#status").kendoComboBox({
                                    dataTextField: "meaning",
                                    dataValueField: "value",
                                    valuePrimitive: true,
                                    dataSource: [{meaning: "", value: ""},
                                        {meaning: "未开始", value: "未开始"},
                                        {meaning: "进行中", value: "进行中"},
                                        {meaning: "已完成", value: "已完成"}],
                                    value: ""
                                });
                            </script>
                        </div>
                        <div class="rows" style="margin-top:5px;margin-left: 10px;">
                            <input name="distributionDate" id="distributionDate"
                                   data-role="datepicker"
                                   placeholder='<@spring.message "分发时间"/>'
                                   type="text" style="width: 150px" data-bind="value:model.distributionDate"
                                   class="k-datepicker">
                            <input id="name" data-role="maskedtextbox" type="text"
                                   placeholder='<@spring.message "分发申请人"/>'
                                   style="width: 150px" data-bind="value:model.name">
                            <script>
                                $("#name").kendoLov({
                                    code: "HMDM_CREATED_BY",
                                    contextPath: '${base.contextPath}',
                                    locale: 'zh_CN',
                                    textField: 'name',
                                    model: viewModel.model
                                });
                            </script>
                            <input id="organizationCode" data-role="maskedtextbox"
                                   placeholder='<@spring.message "hrorgunit.unitcategoryname"/>'
                                   type="text" style="width: 150px" data-bind="value:model.organizationCode">
                            <!--组织类型-->
                            <script>
                                $("#organizationCode").kendoLov({
                                    code: "HMDM_ORGANIZATION_CODE",
                                    contextPath: '${base.contextPath}',
                                    locale: 'zh_CN',
                                    textField: 'organizationCode',
                                    model: viewModel.model
                                });
                            </script>
                        </div>
                        <div class="rows" style="margin-top:5px;margin-left: 10px;">
                            <input id="creationDateFrom" type="text"
                                   data-role="datetimepicker"
                                   placeholder='<@spring.message "创建时间从"/>'
                                   style="width: 150px" data-bind="value:model.creationDateFrom"
                                   class="k-datetimepicker">

                            <input id="creationDateTo" type="text"
                                   data-role="datetimepicker"
                                   placeholder='<@spring.message "创建时间至"/>' style="width: 150px"
                                   data-bind="value:model.creationDateTo" class="k-datetimepicker">
                        </div>
                        <div class="rows" style="margin-top:5px;margin-left: 10px;">
                            <input id="lastUpdateDateFrom" type="text"
                                   data-role="datetimepicker"
                                   placeholder='<@spring.message "更新时间从"/>' style="width: 150px"
                                   data-bind="value:model.lastUpdateDateFrom" class="k-datetimepicker">
                            <input id="lastUpdateDateTo" type="text"
                                   data-role="datetimepicker"
                                   placeholder='<@spring.message "更新时间至"/>' style="width: 150px"
                                   data-bind="value:model.lastUpdateDateTo" class="k-datetimepicker">
                            <span class="btn btn-primary"
                                  style="width: 75px;margin-right: 10px;margin-left: 25px;"
                                  data-bind="click:query" type="submit"><i class="fa fa-search"
                                                                           style="margin-right:3px;"></i><@spring.message "hap.query"/></span>
                            <span class="btn btn-default" type="button" data-bind="click:reset"
                                  style="width: 75px;"><i class="fa fa-undo"
                                                          style="margin-right:3px;"></i><@spring.message "hap.reset"/></span>
                            <span class="btn btn-default" type="button" onclick="invoke()"
                                  style="width: 75px;">调用</span>
                            <span class="btn btn-default" type="button" onclick="sendMessage()"
                                  style="width: 75px;">websoket</span>
                            <span class="btn btn-default" type="button" onclick="redisTest()"
                                  style="width: 75px;">redisTest</span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <script>  kendo.bind($('#page-content_grid'), viewModel);</script>
                </div>
            </div>
            <div id="page-content" style="padding-left: 0px;padding-top: 14%;">
                <div class="panel-footer text-left">
                    <label style="float:left;line-height: 30px;margin-left: -3px;font-size: 20px"><@spring.message
                        "分发数据明细情况"/></label>
                    <span class="btn btn-primary" onclick="openResultsDetail()" style="float:right;" type="submit"><i
                            class="fa fa-search" style="margin-right:3px;"></i><b><@spring.message "查看明细"/></b></span>
                    <!--查看明细-->
                    <span class="btn btn-success" onclick="insertDistributionTable()"
                          style="float:right;margin-right:5px;" type="button"><i class="fa fa-plus-square"
                                                                                 style="margin-right:3px;"></i><@spring.message "执行"/></span>
                    <!--执行-->
                    <div style="float:right;margin-right:5px;">
                        <input id="interface_name" type="text"
                               placeholder='<@spring.message "interface.line.interfacename"/>'
                               style="width:120px;margin-top: 3%"><!--接口名称-->
                    </div>
                    <div style="float:right;margin-right:5px;">
                        <input id="dsystem_name" placeholder='<@spring.message "interface.systemname"/>' type="text"
                               style="width: 120px;margin-top: 3%"><!--系统名称-->
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div style="clear: both;">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>
<div id="openWindow"></div>
</div>
<script type="text/javascript">
    baseUrl = "${base.contextPath}";
    var MdTreeDataSource = new kendo.data.HierarchicalDataSource({
        transport: {
            read: {
                url: baseUrl + "/mdTypeTree",
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=UTF-8"
            },
            parameterMap: function (options, type) {
                var mdType = $("#distributeData").val() || -1;
                console.log(mdType);
                return kendo.stringify(mdType);
            }
        },
        schema: {
            model: {
                id: "id",
                children: "items"
            }
        }
    });
    var treeViewMd = $("#treeViewMd").kendoTreeView({
        template: "<span style='font-weight:bold;'><i class='#= item.icon #'></i> #= item.text #</span>",
        dataValueField: "id",
        dataSource: MdTreeDataSource
    }).data("kendoTreeView");
    $("#distributeData").kendoLov({
        code: "HMDM_DISTRIBUTE_DATA",
        contextPath: '${base.contextPath}',
        locale: 'zh_CN',
        textField: 'id',
        select: function (e) {
            MdTreeDataSource.read();
        }
    });
    function validateDistributeData() {
        if ($.isEmpty($("#distributeData").val())) {
            MdTreeDataSource.read();
        }
    }

    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;

    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hmdm/distribute/situation/query",
                type: "POST",
                contentType: "application/json",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hmdm/distribute/situation/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hmdm/distribute/situation/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hmdm/distribute/situation/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return kendo.stringify(Hap.prepareQueryParameter(viewModel.model.toJSON(), options));
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "headerId",
                fields: {distributionDate: {type: "date"}}
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "itemCode",
                title: '数据编码',
                width: 120
            },
            {
                field: "itemName",
                title: '数据名称',
                width: 120
            },
            {
                field: "organizationCode",
                title: '组织',
                width: 120
            },
            {
                field: "status",
                title: '分发状态',
                width: 120
            },
            {
                field: "batchNum",
                title: '分发批次号',
                width: 120
            },
            {
                field: "distributionDate",
                title: '分发日期',
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "name",
                title: '分发申请人',
                width: 120
            },
        ],
        editable: true
    });
    /*    function expandMd() {
     $('#treeViewMd').data('kendoTreeView').expand(".k-item");
     }
     function collapseMd() {
     $('#treeViewMd').data('kendoTreeView').collapse(".k-item");
     }

     function refreshMd() {
     MdTreeDataSource.read();
     }*/
    var ranges = [{
        from: 0,
        to: 30,
        color: "#F97172"
    }, {
        from: 30,
        to: 60,
        color: "#FADE71"
    }, {
        from: 60,
        to: 100,
        color: "#67DF65"
    }];

    function openWindow(param) {
        var url = '${base.contextPath}/master_distributed_execution/radial_gauge.html';
        var editWin = Hap.createWindow('#openWindow', {
            width: '90%',
            height: 745,
            title: '仪表盘',
            url: url
        })
        if (parent.autoResizeIframe) {
            parent.autoResizeIframe('${RequestParameters.functionCode!}', 870, function () {
                editWin.center().open();
            })
        } else {
            editWin.center().open();
        }
    }
    function invoke() {
        var bMainGrid = $("#grid").data('kendoGrid');
        var checked = bMainGrid.selectedDataItems();
        $.ajax({
            /*附带参数的请求URL*/
            url: '${base.contextPath}/hmdm/distribute/situation/invoke',
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8;",
            data: JSON.stringify(checked),
            success: function (result) {
                $.each(result.rows, function (key, value) {
                    console.log('第' + key + '行解析返回结果：');
                    var data = result.rows[key];
                    for (var i in data) {
                        console.log(i + '-' + data[i]);
                    }
                })
            }
        });

    }
    function sendMessage() {
        //var _baseContext = "${base.contextPath}";
        var bMainGrid = $("#grid").data('kendoGrid');
        var checked = bMainGrid.selectedDataItems();
        Hap.initWebSocket();
        console.log("1111");
        Hap.onMessage("HMDMTest", function (date, socket) {
            console.log("2222-" + data.parameter["MSG"]);
            socket.close();
            $.ajax({
                url: "${base.contextPath}/hmdm/distribute/situation/webSocketTest",
                data: JSON.stringify(checked),
                type: "POST"
            });
            if (data.parameter["MSG"]) {
                Hap.showToast({
                    type: "info",
                    message: data.parameter["MSG"]
                });
                kendo.ui.showInfoDialog({
                    message: data.parameter["MSG"]
                })
            }
        });
    }
    function redisTest() {
        $.ajax({
            url: '${base.contextPath}/hmdm/distribute/situation/redistest',
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                console.log("11111--" + result);
            },
            error: function (data) {
                alert(data.responseText);
            }
        })
        ;
    }
</script>
</body>
</html>